<mat-card class="categoryCard">
    <h1 class="ml20 mt10">Add new Category</h1>
    <!-- {{category | json}} -->
    <mat-card-content>
       <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form (ngSubmit)="formSubmit()">

                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input required autofocus type="text" name="title" matInput placeholder="Enter here"
                        [(ngModel)]="category['title']"/>
                    </mat-form-field>

                    <mat-form-field class="w100" appearance="outline">
                        <mat-label>Description</mat-label>
                        <textarea name="description" matInput placeholder="Enter here" [(ngModel)]="category['description']" rows="7"></textarea>
                    </mat-form-field>

                    <div class="container text-center mt15">
                        <button mat-raised-button style="background-color: rgb(77, 75, 75); color: aliceblue;">Add</button>
                    </div>
                </form>
            </div>
        </div>
       </div>
    </mat-card-content>
</mat-card>
