.full-width{
    width:100%;
}
.registerCard{
 
    background-color:rgb(235, 230, 230);
    border: 3px;
    border-radius: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}