
    <!-- C editor -->
<!-- <iframe style='max-width:100%; border: none; height: 375px; width: 700px;' height=375 width=700 allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox" src="https://www.interviewbit.com/embed/snippet/85399de98f8907398434"></iframe> -->


<!-- Cpp editor -->
<!-- <iframe style='max-width:100%; border: none; height: 375px; width: 700px;' height=375 width=700 allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox" src="https://www.interviewbit.com/embed/snippet/6e73defe42c7e33ae4ba"></iframe> -->


<div class="mt20 ml20 mr20">
    <!-- java editor -->
<iframe 
id="content"
style='min-width:100%; min-height: 100%; border: none; height: 800px; width: 700px;' allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin" src="https://www.interviewbit.com/embed/snippet/50984946a751994cd1da"></iframe>
</div>
<script>
    const content=document.getElementById("content");
    const frameWindow=content.contentWindow;
    console.log(content);

</script>






<!-- Py editor -->
<!-- <iframe style='max-width:100%; border: none; height: 375px; width: 700px;' height=375 width=700 allowfullscreen referrerpolicy="unsafe-url" sandbox="allow-scripts allow-same-origin allow-popups allow-top-navigation-by-user-activation allow-popups-to-escape-sandbox" src="https://www.interviewbit.com/embed/snippet/a284b05774e528f50a11"></iframe> -->
